* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Margin */
  --margin: 2% 0;
  --marginFin: 1% 0;

  /* Padding */
  --padingButton: 1% 3%;

  /* Couleur Boutons */
  --redButton: rgb(231, 55, 55);
  --redButtonHover: rgb(170, 36, 36);
  --blueButton: rgb(39, 179, 226);
  --blueButtonHover: rgb(19, 129, 165);
  --greenButton: rgb(39, 206, 39);
  --greenButtonHover: rgb(21, 185, 21);
}

/* Générale */
body {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: var(--padingButton);
}

button:disabled {
  background-color: grey;
  color: black;
  cursor: default;
}
button:disabled:hover {
  background-color: grey;
}

/* Boutons */
#boutonDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 10%;
}
#boutonDiv button {
  color: white;
  margin: var(--margin);
}
#boutonDiv button:nth-child(1) {
  background-color: var(--redButton);
}
#boutonDiv button:nth-child(1):hover {
  background-color: var(--redButtonHover);
}
#boutonDiv button:nth-child(2) {
  background-color: var(--blueButton);
}
#boutonDiv button:nth-child(2):hover {
  background-color: var(--blueButtonHover);
}
#boutonDiv button:nth-child(3) {
  background-color: var(--greenButton);
}
#boutonDiv button:nth-child(3):hover {
  background-color: var(--greenButtonHover);
}

/* Résultat */
#resultat {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  margin: var(--margin);
}

/* Vs */
#vs {
  margin: var(--margin);
  width: 100%;
  justify-content: center;
  align-items: center;
}
#vs .img {
  flex: 2;
  height: 250px;
  transform: rotate(180deg);
}
#vs .img img {
  height: 100%;
  width: 100%;
}
#vs .img:first-of-type {
  transform: rotate(0deg);
}
#vsText {
  flex: 1;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}

/* Score */
#score {
  margin: var(--margin);
}
#score table {
  margin: auto;
  text-align: center;
  width: 70%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 35%;
}

thead th:nth-child(3) {
  width: 35%;
}
th,
td {
  border: 2px solid black;
  padding: 13px;
}
td:nth-child(2),
td:nth-child(3) {
  color: white;
}

/* Fin */
#fin {
  margin: var(--marginFin);
  font-size: x-large;
  font-weight: bold;
}

/* Rejouer */
#boutonRejouer {
  background-color: orange;
  color: white;
  margin: var(--marginFin);
}
#boutonRejouer:hover {
  background-color: rgb(255, 132, 0);
}

/* Classe ajouté Js */
/* Afficher ou non */
.inactive {
  display: none;
}
.active {
  display: block;
}
.active-flex {
  display: flex;
}

/* Couleur résultat*/
.green {
  color: green;
}
.red {
  color: red;
}
.orange {
  color: orange;
}

/* Background-color tableau*/
.win {
  background-color: red;
}
.win:nth-child(2) {
  background-color: green;
}

.lose {
  background-color: green;
}
.lose:nth-child(2) {
  background-color: red;
}

.tie {
  background-color: orange;
}
