* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Margin */
  --margin: 2% 0;
  --marginContainer: 0 2%;
  --marginFin: 1% 0;

  /* Padding */
  --padingButton: 1% 3%;

  /* Couleur Boutons */
  --redButton: rgb(231, 55, 55);
  --redButtonHover: rgb(170, 36, 36);
  --blueButton: rgb(39, 179, 226);
  --blueButtonHover: rgb(19, 129, 165);
  --greenButton: rgb(39, 206, 39);
  --greenButtonHover: rgb(21, 185, 21);
}

/* Générale */
body {
  background-color: rgb(47, 48, 49);
  color: aliceblue;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: var(--padingButton);
}

button:disabled {
  cursor: default;
}

/* DarkMode */
#dark-lightMode {
  margin-top: 0.7%;
  align-self: end;
  font-size: x-large;
  cursor: pointer;
  width: 20%;
}
#dark-lightMode span {
  margin: 0 10%;
}

/* Boutons */
#boutonDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 10%;
}
#boutonDiv button {
  color: white;
  margin: var(--margin);
}
#boutonDiv button:nth-child(1) {
  background-color: var(--redButton);
}
#boutonDiv button:nth-child(1):hover {
  background-color: var(--redButtonHover);
}
#boutonDiv button:nth-child(2) {
  background-color: var(--blueButton);
}
#boutonDiv button:nth-child(2):hover {
  background-color: var(--blueButtonHover);
}
#boutonDiv button:nth-child(3) {
  background-color: var(--greenButton);
}
#boutonDiv button:nth-child(3):hover {
  background-color: var(--greenButtonHover);
}

/* Bouton désactivé */
#boutonDiv button:disabled {
  background-color: grey;
  color: black;
}
#boutonDiv button:disabled:hover {
  background-color: grey;
}

/* Résultat */
#resultat {
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
}

/* Container */
#containerAffichage {
  justify-content: space-between;
  align-items: center;
  margin: var(--margin);
  height: 400px;
  width: 100%;
}

/* Historique */
#historique {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--marginContainer);
}

/* Vs */
#vs {
  flex: 2;
  justify-content: center;
  align-items: center;
  margin: var(--marginContainer);
}
#vs .img {
  flex: 2;
  height: 170px;
  transform: rotate(180deg);
}
#vs .img img {
  height: 100%;
  width: 100%;
}
#vs .img:first-of-type {
  transform: rotate(0deg);
}
#vsText {
  flex: 1;
  font-size: xx-large;
  text-align: center;
  font-weight: bold;
}

/* Score */
#score {
  flex: 1;
  margin: var(--marginContainer);
  height: 100%;
}

/* Graphique */
#WLgraph {
  width: 100%;
  height: 82%;
  margin-top: 20%;
}

.points {
  text-align: center;
  width: 50%;
  height: 5%;
  float: left;
}

/* Fin */
#fin {
  margin: var(--marginFin);
  font-size: x-large;
  font-weight: bold;
}

/* Rejouer */
#boutonRejouer {
  background-color: orange;
  color: white;
  margin: var(--marginFin);
}
#boutonRejouer:hover {
  background-color: rgb(255, 132, 0);
}

/* Classe ajouté Js */
/* Afficher ou non */
.inactive {
  display: none;
}
.active {
  display: block;
}
.active-flex {
  display: flex;
}
