#dark-lightMode {
  font-size: medium;
  flex-direction: column;
}
#dark-lightMode span {
  margin: 5%;
}

.active-flex {
  display: block;
}

#resultat {
  margin-top: 7%;
}

#containerAffichage {
  margin-top: 10%;
  height: auto;
}

#historique {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: small;
  white-space: pre;
  margin-bottom: 7%;
  justify-content: flex-start;
}

#score {
  transform: rotate(90deg);
  height: 85vw;
  margin-left: 15vw;
}
.points {
  transform: rotate(-90deg);
}

#fin {
  margin-top: -50px;
  margin-bottom: 5%;
  font-size: medium;
}
