#dark-lightMode {
  font-size: medium;
  flex-direction: column;
  right: 5vw;
}
#dark-lightMode span:first-of-type {
  margin-bottom: 3vh;
}

#boutonDiv {
  flex-direction: column;
}
#boutonDiv button {
  margin: 1vh 0;
  width: 70px;
}
#boutonDiv button:first-of-type {
  margin-top: 0;
}
#dark-lightMode span:nth-child(2) {
  margin-left: 0;
}

.active-flex {
  display: block;
}

#containerAffichage {
  height: auto;
  margin: 0;
}

#historique {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: small;
  white-space: pre;
  justify-content: flex-start;
  margin-bottom: 5vh;
}

#score {
  transform: rotate(90deg);
  height: 85vw;
  margin-left: 15vw;
}
.points {
  transform: rotate(-90deg);
}

#fin {
  margin-top: -10%;
  font-size: medium;
}
